<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.model.TRoleMapper">
  <resultMap id="BaseResultMap" type="dao.model.TRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modify_time" jdbcType="DATE" property="modifyTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="CHAR" property="remark" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="dao.model.TRole">
    insert into t_role (id, name, modifier, 
      modify_time, creator, create_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{modifier,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=DATE}, #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=CHAR})
  </insert>
  <update id="update" parameterType="dao.model.TRole">
    update t_role
    set name = #{name,jdbcType=CHAR},
      modifier = #{modifier,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=DATE},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, modifier, modify_time, creator, create_time, remark
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select id, name, modifier, modify_time, creator, create_time, remark
    from t_role
    <trim prefix="where" prefixOverrides="and|or">
      <if test="name!=null and name!=''">
        andname = #{name}
      </if>
    </trim>
  </select>
  <resultMap id="BaseResultMap" type="dao.model.TRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modify_time" jdbcType="DATE" property="modifyTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="CHAR" property="remark" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="dao.model.TRole">
    insert into t_role (id, name, modifier, 
      modify_time, creator, create_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{modifier,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=DATE}, #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=CHAR})
  </insert>
  <update id="update" parameterType="dao.model.TRole">
    update t_role
    set name = #{name,jdbcType=CHAR},
      modifier = #{modifier,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=DATE},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, modifier, modify_time, creator, create_time, remark
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select id, name, modifier, modify_time, creator, create_time, remark
    from t_role
    <trim prefix="where" prefixOverrides="and|or">
      <if test="name!=null and name!=''">
        andname = #{name}
      </if>
    </trim>
  </select>
</mapper>